@import '../../styles/mixins';

.slug {
  &__container {
    padding: 0 5%;
    @include desktop {
      padding: 0 10%;
    }
  }
  &__h2 {
    color: $color-azul;
    font-size: 1.5rem;
    margin-top: 3rem;
    font-weight: bolder;
  }
  &__h3 {
    color: $color-plomo;
    font-weight: bolder;
    margin: 1rem 0;
  }
  &__iconresearch {
    padding: 1rem 0;
    width: 50px;
    align-self: center;
  }
  &__research {
    display: flex;
    flex-direction: column;
  }
}

.audit {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
  &__text {
    text-align: center;
  }
  &__colortext {
    color: $color-azul;
  }
}

.design {
  &__title {
    color: $color-plomo;
    font-size: 1.5rem;
    text-transform: capitalize;
    text-align: center;
    margin: 1rem 0;
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  &__low {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__image {
    width: 100%;
  }
  &__paragraph {
    text-align: center;
    @include desktop {
      text-align: start;
    }
    &__high {
      text-align: left;
    }
  }
}

.refining {
  @include desktop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin: 1rem 0;
  }
}

.mockup {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.high {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  &__image {
    width: 100%;
  }
}

.sitemap {
  &__title {
    color: $color-plomo;
    font-size: 1.3rem;
    font-weight: bolder;
    margin: 0.5rem 0;
  }
  &__images {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    @include desktop {
      display: grid;
      grid-template-columns: 0.5fr 1fr 2fr;
      gap: 1rem;
    }
  }
  &__image {
    width: 100%;
  }
  &__img2 {
    width: 100%;
  }
  &__div,
  &__div1 {
    align-self: start;
  }
  &__sub {
    color: $color-azul;
    text-align: center;
  }
}

.wireframe {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  @include desktop {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-self: center;
  }
  &__container1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-self: center;
    order: 1;
  }
  &__image {
    order: 2;
  }
}
.wireframe1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  @include desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.wireimage {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
  align-items: center;
  @include desktop {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  &__title {
    margin: 1rem 0;
  }
  &__item {
    align-self: start;
  }
}
.prototype {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
  &__link {
    color: $color-azul;
  }
  &__image {
    align-self: center;
  }
}
.space {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  @include desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &__exp {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    &__image {
      align-self: center;
    }
  }
}

.journey {
  display: flex;
  flex-direction: column;
  &__image {
    align-self: center;
  }
}
